.hero-resume {
  margin-top: 25px;
}

.hero-resume a {
  display: inline-block;
  text-decoration: none;
  color: #38f2ff;
  border: 1px solid #38f2ff;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 0.95rem;
}

.hero-resume a:hover {
  background: #38f2ff;
  color: black;
}
.hero {
  min-height: 100vh;
  width: 100vw;

  background: radial-gradient(circle at top, #0a1a2f, #000);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 40px 20px;
}

.hero-name {
  font-size: 3.5rem;
  color: #38f2ff;
}

.hero-role {
  font-size: 1.5rem;
  margin: 10px 0;
  opacity: 0.9;
}

.hero-desc {
  max-width: 650px;
  margin: 20px auto;
  line-height: 1.6;
  opacity: 0.85;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.hero-buttons button {
  background: transparent;
  border: 1px solid #38f2ff;
  color: #38f2ff;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.hero-buttons button:hover {
  background: #38f2ff;
  color: black;
}

.hero-skills {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.hero-skills span {
  border: 1px solid #38f2ff;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
}
